@reference "../../app/global.css";

.container {
  @apply w-full grid;

  grid-template-rows: min-content 1fr min-content;
  grid-template-areas: 
    'header'
    'body'
    'footer';
}

.header {
  grid-area: 'header';
}

.body {
  grid-area: 'body';
}

.footer {
  grid-area: 'footer';
}

