@reference "./../../app/global.css";

.richtext h1 {
  @apply
    text-3xl
    md:text-5xl
    font-bold;
}

.richtext h2 {
  @apply
    text-3xl
    md:text-4xl
    font-bold;
}

.richtext h3 {
  @apply
    scroll-m-20
    text-2xl
    font-semibold
    tracking-tight;
}

.richtext h4 {
  @apply
    scroll-m-20
    text-xl
    font-semibold
    tracking-tight;
}

.richtext h5 {
  @apply
    scroll-m-20
    text-xl
    font-semibold
    tracking-tight;
}

.richtext h6 {
  @apply
    scroll-m-20
    text-xl
    font-semibold
    tracking-tight;
}

/* .richtext p {
  @apply
    text-base
    md:text-lg;
} */

.richtext blockquote {
  @apply
    mt-6
    border-l-2
    pl-6
    italic;
}

.richtext ul {
  @apply
    my-6
    ml-6
    list-disc
    [&>li]:mt-2;
}

.richtext ol {
  @apply
    my-6
    ml-6
    list-decimal
    [&>li]:mt-2;
}

.richtext code {
  @apply
    relative
    rounded
    bg-muted
    px-[0.3rem]
    py-[0.2rem]
    font-mono
    text-sm
    font-semibold;
}

.richtext table {
  @apply
    w-full
    my-6;
}

.richtext tbody tr {
  @apply
    m-0
    border-t
    p-0
    even:bg-muted;
}

.richtext tbody tr th {
  @apply
    border
    px-4
    py-2
    text-left
    font-bold
    [&[align=center]]:text-center
    [&[align=right]]:text-right;
}

.eyebrow {
  @apply
    text-sm
    md:text-base
    opacity-80;
}
